<!DOCTYPE html>
<html ng-app="[[ settings.angular_app_name ]]" lang="[[ settings.lang | lower ]]">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <meta http-equiv="cleartype" content="on"/>
  <meta name="application-name" content="[[ lang.head_title ]]"/>
  <meta name="msapplication-tooltip" content="[[ lang.head_description ]]"/>
  <meta name="description" content="[[ lang.head_description ]]"/>
  <meta name="keywords" content=""/>
  <meta name="author" content="[[ author ]]"/>
  <meta name="copyright" content="(c)[[ settings.copyright ]]">
  <meta http-equiv="Reply-to" content="[[ settings.mail ]]">

  <title>[[ lang.head_title ]]</title>

  <script src="[[ static_js('angular.min.js') ]]"></script>
  <script src="[[ static_js('angular-foundation.min.js') ]]"></script>
  <script src="[[ static_js('d3.min.js') ]]"></script>
  <script src="[[ static_js('LineChart.min.js') ]]"></script>

  <link rel='stylesheet' href="[[ static_css('style.css') ]]">
</head>
<body>
	<div class="expanded row small-collapse main">
		<div class="small-2 large-2 columns collapse tabs-parent" ng-controller="TabsController">
			<ul class="tabs vertical">
				<li class="tabs-title" ng-repeat="tab in tabs" ng-class="{'is-active': isActiveTab(tab)}">
						<a ng-click="select(tab)">{{tab.title}}</a>
				</li>
			</ul>
		</div>
		<div class="small-12 columns tabs-dropdown-parent" ng-controller="TabsController">
			<div class="small-12 columns small-collapse">
				<dropdown-toggle close-on-click="true" pane-align="center">
					<toggle>
					  <a class="expanded dropdown button">Модель</a>
					</toggle>
					<pane>
					  <ul class="menu vertical">
					    <li ng-repeat="tab in tabs" ng-class="{'is-active': isActiveTab(tab)}">
					      <a href="#" ng-click="select(tab); $close()">{{tab.title}}</a>
					    </li>
				        <li>
				          <a ng-click="$close()">Закрыть</a>
				        </li>
					  </ul>
					</pane>
				</dropdown-toggle>
			</div>
		</div>
		<div class="small-12 medium-10 large-10 columns content">
			<div class="row expanded">
		    	<div class="small-12 columns no-padding">
					<form name="msform" ng-submit="submitForm(msform.$valid)" ng-controller="postController" novalidate>
						<div class="row expanded">
							<div class="small-12 medium-12 large-10 columns inputs">
								<div class="row expanded large-collapse">
									<div class="small-12 medium-4 large-2 columns end">
										<div class="row" ng-show="model == 'mmvkn'">
											<div class="small-2 columns">
												<label for="msa" class="text-left middle" ng-class="{'is-invalid-label': msform.ms_a.$error.float}">a</label>
											</div>
											<div class="small-10 large-8 columns">
												<input type="number" id="msa" ng-model="form_ms.a" name="ms_a" max="1.0" float placeholder="Float > 0" ng-class="{'is-invalid-input': msform.ms_a.$error.float}" tooltip="{{tooltip.a}}"  tooltip-trigger="focus" tooltip-placement="bottom">
											</div>
										</div>
									</div>
									<div class="small-12 medium-4 large-2 columns">
										<div class="row" ng-show="model != 'mmvkn'">
											<div class="small-2 columns">
												<label for="mslambd" class="text-left middle" ng-class="{'is-invalid-label': msform.ms_lambd.$error.float}">λ</label>
											</div>
											<div class="small-10 large-8 end columns">
												<input type="number" id="mslambd" ng-model="form_ms.lambd" name="ms_lambd" float placeholder="Float > 0" ng-class="{'is-invalid-input': msform.ms_lambd.$error.float}"  tooltip="{{tooltip.lambd}}"  tooltip-trigger="focus" tooltip-placement="bottom">
											</div>
										</div>
									</div>
									<div class="small-12 medium-4 large-2 columns">
										<div class="row">
											<div class="small-2 columns">
												<label for="msmiu" class="text-left middle" ng-class="{'is-invalid-label': msform.ms_miu.$error.float}">μ</label>
											</div>
											<div class="small-10 large-8 columns">
												<input type="number" id="msmiu" ng-model="form_ms.miu" name="ms_miu" float placeholder="Float > 0" ng-class="{'is-invalid-input': msform.ms_miu.$error.float}" tooltip="{{tooltip.miu}}"  tooltip-trigger="focus" tooltip-placement="bottom">
											</div>
										</div>
									</div>
									<div class="small-12 medium-4 large-2 columns">
										<div class="row">
											<div class="small-2 columns">
												<label for="msto" class="text-left middle" ng-class="{'is-invalid-label': msform.ms_to.$error.integer || msform.ms_to.$error.min}">k</label>
											</div>
											<div class="small-10 large-8 columns">
												<input type="number" id="msto" ng-model="form_ms.to" name="ms_to" min="1" integer placeholder="Int > 0" ng-class="{'is-invalid-input': msform.ms_to.$error.integer || msform.ms_to.$error.min}" tooltip="{{tooltip.to}}"  tooltip-trigger="focus" tooltip-placement="bottom">
											</div>
										</div>
									</div>
									<div class="small-12 medium-4 large-2 columns end">
										<div class="row" ng-show="(model != 'mm1' && model != 'mminf')">
											<div class="small-2 columns">
												<label for="msv" class="text-left middle" ng-class="{'is-invalid-label': msform.ms_v.$error.integer || msform.ms_v.$error.min}">v</label>
											</div>
											<div class="small-10 large-8 columns">
												<input type="number" id="msv" ng-model="form_ms.v" name="ms_v" min="1" integer placeholder="Int > 0" ng-class="{'is-invalid-input': msform.ms_v.$error.integer || msform.ms_v.$error.min}" tooltip="{{tooltip.v}}"  tooltip-trigger="focus" tooltip-placement="bottom">
											</div>
										</div>
									</div>
									<div class="small-12 medium-4 large-2 columns end">
										<div class="row" ng-show="model == 'mmvkn'">
											<div class="small-2 columns">
												<label for="msn" class="text-left middle" ng-class="{'is-invalid-label': msform.ms_n.$error.integer || msform.ms_n.$error.min}">n</label>
											</div>
											<div class="small-10 large-8 columns">
												<input type="number" id="msn" ng-model="form_ms.n" name="ms_n" min="1" integer placeholder="Int > 0" ng-class="{'is-invalid-input': msform.ms_n.$error.integer || msform.ms_n.$error.min}" tooltip="{{tooltip.n}}"  tooltip-trigger="focus" tooltip-placement="bottom">
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="small-12 large-2 columns sub-button">
							  <button class="success button expanded" type="submit" href="#" ng-class="{'disabled': !msform.$valid}">Построить</button>
							</div>
						</div>
                        <script type="text/ng-template" id="MSModalContent.html">
                            <h3>[[ lang.modal_head_error_msg ]]</h3>
                            <p>{{ error_msg }}</p>
                            <button class="button" ng-click="ok()">[[ lang.modal_ok_button ]]</button>
                        </script>
			    	</form>
		    	</div>
			</div>
			<div class="row expanded valcal" ng-controller="MSValCal">
				<div class="small-12 columns">
					<div class="callout row expanded">
						<div class="large-2 medium-2 small-6 columns end" ng-repeat="(key, value) in valcal">
							<p>{{valcaln[key]}}:&nbsp;{{value}}</p>
						</div>
					</div>
				</div>
			</div>
			<div class="row expanded ms-tabl-graph">
				<div class="small-12 medium-9 large-10 columns graph-parent">
					<div class="ms-chart ms-chart-content" ng-controller="MSGraph">
				      <linechart data="data" options="options"></linechart>
				    </div>
				</div>
				<div class="small-12 medium-3 large-2 columns no-padding-left res-parent">
					<div class="ms-table">
						<table ng-controller="tableController" class="stack">
						  <thead>
						    <tr>
						      <th>Результат:</th>
						    </tr>
						  </thead>
						  <tbody>
						    <tr ng-repeat="d in objectValue">
						      <td>{{d.y}}</td>
						    </tr>
						  </tbody>
						</table>
					</div>
		    	</div>
			</div>
		</div>
	</div>

<script type="text/javascript">
	var app = angular.module('[[ settings.angular_app_name ]]', ['mm.foundation', 'n3-line-chart']);

	app.factory('sharedProperties', function() {
	    var ms_data = {mm1: {data: [' '], valcal: {'km': '?',
					                                'lq': '?',
					                                'ws': '?',
					                                'wq': '?',
					                                'ro': 0
					                            }},
	    				mminf: {data: [' '], valcal: {'km': '?',
					                                'wp': '?',
					                                'ro': 0
					                            }},
	    				mmv: {data: [' '], valcal: {'gm': '?',
					                                'jm': '?',
					                                'pt': '?',
					                                'ro': 0
					                            }, data2: [], data3: []
                                                    },
	    				mmvk: {data: [' '], valcal: {'pt': '?',
					                                'ro': 0
					                            }},
	    				mmvkn: {data: [' '], valcal: {'km': '?',
					                                'tm': '?',
					                                'pt': '?',
					                                'pv': '?'
					                            }}
	    			};

	    var cur_model = 'mm1';

	    return {
            setObjectMMV: function(value) {
                ms_data['mmv'].data2.push(value);
            },
            setObjectMMV1: function(value) {
                ms_data['mmv'].data3.push(value);
            },
	        setObject: function(value) {
	            ms_data[cur_model].data.push(value);
	        },
	        setValCalObject: function(key, value) {
	            ms_data[cur_model].valcal[key] = value;
	        },
	        getObject: function() {
	            return ms_data[cur_model];
	        },
	        clearObject: function() {
		        for (var i = ms_data[cur_model].data.length; i > 0; i--) {
					ms_data[cur_model].data.pop();
				}
	        },
            clearObjectMMV: function() {
                for (var i = ms_data['mmv'].data2.length; i > 0; i--) {
                    ms_data['mmv'].data2.pop();
                }
                for (var i = ms_data['mmv'].data3.length; i > 0; i--) {
                    ms_data['mmv'].data3.pop();
                }
            },
	        getModel: function() {
	            return cur_model;
	        },
	        setModel: function(model) {
	            cur_model = model;
	        }
	    }
	});

	app.constant('ConstTooltip', {
		lambd: 'Лямбда - постоянная интенсивность поступления вызовов',
		miu: 'Мю - постоянная интенсивность освобождения вызовов',
		v: 'Количество устройств',
		to: 'Количество источников на обслуживании',
		n: 'Число источников нагрузки',
		a: 'Удельная нагрузка, каждого вызова на систему'
	});

    app.constant('ConstErrorMsg', {
        mm1: '[[ lang.modal_mm1_error_msg ]]',
        mminf: '[[ lang.modal_mminf_error_msg ]]',
        mmv: '[[ lang.modal_mmv_error_msg  ]]',
        mmvk: '[[ lang.modal_mmvk_error_msg ]]',
        mmvkn: '[[ lang.modal_mmvkn_error_msg ]]',
        se: '[[ lang.modal_server_error_msg ]]'
    });

	app.constant('ConstValCal', {
		'ro': 'ρ',
		'km': 'Kср',
		'wq': 'Wq',
		'wp': 'Wρ',
		'ws': 'Ws',
		'lq': 'Lq',
		'gm': 'Yср',
		'jm': 'Jср',
		'pt': 'Pt',
		'tm': 'Tср',
		'pv': 'Pв'
	});

	app.controller('tableController', function($scope, sharedProperties) {
	    $scope.$watch(function () {
		    return sharedProperties.getObject();
		}, function (value) {
	        $scope.objectValue = value.data;
	    });
	    $scope.objectValue = sharedProperties.getObject().data;
	});

	app.controller('MSValCal', function($scope, sharedProperties, ConstValCal) {
	    $scope.$watch(function () {
		    return sharedProperties.getObject();
		}, function (value) {
	        $scope.valcal = value.valcal;
	    });
	    $scope.valcal = sharedProperties.getObject().valcal;
	    $scope.valcaln = ConstValCal;
	});

	app.controller('postController', function($scope, $http, $modal, sharedProperties, ConstTooltip, ConstErrorMsg) {
	    $scope.$watch(function () {
		    return sharedProperties.getModel();
		}, function (value) {
	        $scope.model = value;
	    });

	    $scope.tooltip = ConstTooltip;

      	$scope.model = sharedProperties.getModel();
        $scope.form_ms = {'lambd': 1.1,
	        				'miu': 3.2,
	        				'to': 15,
							'v': 1,
							'n': 15,
							'a': 0.3
	        			};

        $scope.modal_open = modal_open;

        function modal_open(size, se) {
            if (!se) {
                $scope.error_msg = ConstErrorMsg[$scope.model];
            }
            else {
                $scope.error_msg = ConstErrorMsg['se'];
            }

            var params = {
                templateUrl: 'MSModalContent.html',
                resolve: {
                    error_msg: function () {
                        return $scope.error_msg;
                    }
                },
                controller: function ($scope, $modalInstance, error_msg) {
                    $scope.error_msg = error_msg;

                    $scope.ok = function () {
                        $modalInstance.close();
                    };
                }
            };

            if (angular.isDefined(size)) {
                params.size = size;
            }

            $modal.open(params);
        }

        // calling our submit function.
        $scope.submitForm = function(valid) {
	        if (!valid) {
		        return false;
	        }
	        $http({
	          method  : 'POST',
	          url     : '[[ url_for("models") ]]' + $scope.model,
	          data    : $scope.form_ms, //forms user object
	          headers : {'Content-Type': 'application/json'}
	         })
	          .success(function(data) {
                    sharedProperties.clearObject();
                    for (var i = 0; i < data.data.length; i++) {
                        sharedProperties.setObject(data.data[i]);
                    }
                    for (var i in data.valcal) {
                        sharedProperties.setValCalObject(i, data.valcal[i]);
                    }
                    if ($scope.model == 'mmv') {
                        sharedProperties.clearObjectMMV();
                        for (var i = $scope.form_ms.v; i < data.data.length; i++) {
                            sharedProperties.setObjectMMV(data.data[i]);
                        }
                        for (var i = 0; i <= $scope.form_ms.v; i++) {
                            sharedProperties.setObjectMMV1(data.data[i]);
                        }
                    }
	          })
              .error(function (data, error) {
                    if (error == "412") {
                        $scope.modal_open('tiny');
                    }
                    else {
                        $scope.modal_open('tiny', true);
                    }
            })
        };
    });

    app.controller('MSGraph', function($scope, sharedProperties) {
        $scope.$watch(function () {
		    return sharedProperties.getObject();
		}, function (value) {
		    if (sharedProperties.getModel() != 'mmv')
			    $scope.data.dataset0 = value.data;
            else
                $scope.data.dataset0 = value.data3;
                $scope.data.dataset1 = value.data2;
		});

        $scope.$watch(function () {
            return sharedProperties.getModel();
        }, function (value) {
            if (value == 'mmv') {
                $scope.options.series.push({
                    axis: "y",
                    dataset: "dataset1",
                    key: "y",
                    interpolation: {mode: "cardinal", tension: 0.7},
                    label: "Wj",
                    color: "#0a7e07",
                    type: ['line', 'dot', 'area'],
                    id: 'mySeries1'
                })
            }
            else {
                if ($scope.options.series.length == 2) {
                    $scope.options.series.pop();
                }
            }
        });

		$scope.data = {
			dataset0: sharedProperties.getObject().data,
			dataset1: sharedProperties.getObject().data2
		};

		$scope.options = {
			series: [
			  {
			    axis: "y",
			    dataset: "dataset0",
			    key: "y",
                interpolation: {mode: "cardinal", tension: 0.7},
			    label: "P(k)",
			    color: "#1f77b4",
			    type: ['line', 'dot', 'area'],
			    id: 'mySeries0'
			  }
			],
			axes: {x: {key: "x"}}
		};

	});

	app.controller('TabsController', function($scope, sharedProperties) {
	    $scope.tabs = [{
	            title: 'M|M|1',
	            name: 'mm1'
	        }, {
	            title: 'M|M|∞',
	            name: 'mminf'
	        }, {
	            title: 'M|M|V',
	            name: 'mmv'
	        }, {
	            title: 'M|M|V|K',
	            name: 'mmvk'
	        }, {
	            title: 'M|M|V|K|N',
	            name: 'mmvkn'
	        }];

		$scope.model = sharedProperties.getModel();
		$scope.currentTab = $scope.model;

		$scope.select = function (tab) {
		     sharedProperties.setModel(tab.name);
		     $scope.model = tab.name;
		     $scope.currentTab = tab.name;
		};

	    $scope.isActiveTab = function(tab) {
	        return tab.name == $scope.currentTab;
	    }

	});

	var INTEGER_REGEXP = /^\-?\d+$/;
	var FLOAT_REGEXP = /^[+-]?\d+(\.\d+)?$/;

	app.directive('integer', function() {
	  return {
	    require: 'ngModel',
	    link: function(scope, elm, attrs, ctrl) {
	      ctrl.$validators.integer = function(modelValue, viewValue) {
	        if (ctrl.$isEmpty(modelValue)) {
	          // consider empty models to be valid
	          return false;
	        }

	        if (INTEGER_REGEXP.test(viewValue)) {
	          // it is valid
	          return true;
	        }

	        // it is invalid
	        return false;
	      };
	    }
	  };
	});

	app.directive('float', function() {
	  return {
	    require: 'ngModel',
	    link: function(scope, elm, attrs, ctrl) {
	      ctrl.$validators.float = function(modelValue, viewValue) {
	        if (ctrl.$isEmpty(modelValue)) {
	          // consider empty models to be valid
	          return false;
	        }

	        if (viewValue > 0 && FLOAT_REGEXP.test(viewValue)) {
	          // it is valid
	          return true;
	        }

	        // it is invalid
	        return false;
	      };
	    }
	  };
	});

</script>


</body>
</html>