<!DOCTYPE html>
<html ng-app="[[ settings.angular_app_name ]]" lang="[[ settings.lang | lower ]]">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <meta http-equiv="cleartype" content="on"/>
  <meta name="application-name" content="[[ lang.head_title ]]"/>
  <meta name="msapplication-tooltip" content="[[ lang.head_description ]]"/>
  <meta name="description" content="[[ lang.head_description ]]"/>
  <meta name="keywords" content=""/>
  <meta name="author" content="[[ author ]]"/>
  <meta name="copyright" content="(c)[[ settings.copyright ]]">
  <meta http-equiv="Reply-to" content="[[ settings.mail ]]">

  <title>[[ lang.head_title ]]</title>

  <script src="/static/js/angular.min.js"></script>
  <script src="/static/js/mm-foundation-tpls-0.8.0.min.js"></script>

  <link rel='stylesheet' href='/static/styles/style.css'>
</head>
<body>
<script type="text/javascript">
	angular.module('[[ settings.angular_app_name ]]', ['mm.foundation']);
</script>
</body>
</html>